ul,
li,
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}

.container {
	border: 1px solid #ccc;
	box-shadow: 10px 10px 20px #ccc;
	margin: 10px;
	width: 320px;
}

.card {
	width: 300px;
	height: 200px;
	margin: 10px;
}

.italic {
	font-style: italic;
}

.info {
	border: 1px solid #ccc;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0 10px;
	margin-bottom: 10px;
	font-family: Helvetica, Arial, sans-serif;
}

ul li {
	list-style: none;
	padding: 0;
}

li span {
	font-weight: bolder;
}

h3 {
	margin: 10px 10px;
}

